
	body {
		
		text-align: center;
		background-color: lightblue;
		
	}

	
	ol {
		
		list-style-type: none;
		padding-left: 0px;
		
	}
	
	li {
		
		background: #cce5ff;
		padding-top: 5px;
		padding-bottom: 5px;
		
	}
	
	#compItem {
		
		background: #ccffda; 
		
	}
	
	li:hover {
		
		background-color: white;
		
	}
	
	.deleteBTN {
		
		float: right;
		padding-right: 5px;
		cursor: pointer;
		
	}