
	body {
		
		text-align: center;
		font-size: 1.25em;
		background-color: lightblue;
		
	}
	
	ol {
		
		list-style-type: none;
		padding-left: 0px;
		
	}
	
	li {
		
		background: #cce5ff;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1.15em;
		width: 75%;
		display: inline-block;
		float: none;
		
	}

	li:hover {
		
		background-color: white;
		cursor: pointer;
		
	}
	
	#compItem {
		
		background: #ccffda; 
		
	}
	
	.deleteBTN {
		
		float: right;
		padding-right: 5px;
		cursor: pointer;
		color: red;
		font-weight: bold;
		font-family: arial;
		
	}

	#addItem {

		display: inline-block;
		line-height: 25px;
		width: 75px;
		border: 2px solid #333;
		letter-spacing: 2px;
		text-align: center;
		position: relative;
		transition: all 0.35s;

	}

	#addItem:after {

		position: absolute;
		content: "";
		top: 0;
		left: 0;
		width: 0;
		height: 100%;
		background: green;
		transition: all 0.35s; 
		
	}

	#addItem:hover {

		color: #fff;

	}

	#addItem:hover:after {

		width: 100%;

	}

	#addItem span {

		position: relative;
		z-index: 2;

	}

	#slideItem {

		display: none;

	}