
	body {
		
		text-align: center;
		font-size: 1.25em;
		background-color: lightblue;
		
	}

	
	ol {
		
		list-style-type: none;
		padding-left: 0px;
		
	}
	
	li {
		
		background: #cce5ff;
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1.15em;
		width: 75%;
		display: inline-block;
		float: none;
		
	}
	
	#compItem {
		
		background: #ccffda; 
		
	}
	
	#compItem:hover {
		
		cursor: pointer;
		
	}
	
	.compData {
		
		background: #ccffda; 
		display: none;
		
	}
	
	.compDataItem {
		
		background: #ccffda; 
		
	}
	
	.compDataItem:hover{
		
		background: #ccffda; 
		
	}
	
	li:hover {
		
		background-color: white;
		
	}
	
	.deleteBTN {
		
		float: right;
		padding-right: 5px;
		cursor: pointer;
		color: red;
		font-weight: bold;
		font-family: arial
		
	}